.DS_Store
*~
*.swp
node-config.json
db/node_modules/
webServer/logs/
judgeServer/logs/
webServer/tmp/
judgeServer/node_modules/
webServer/node_modules/
judgeServer/public/source/
webServer/public/uploaded/Student/
webServer/public/uploaded/Question/

