<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<title>@m_kyoujyuの部屋_test</title>

<!-- meta -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="pxp_ss">

<!-- css -->
<link href="/lib/stylesheets/html5-doctor-reset-stylesheet.min.css" rel="stylesheet">
<link href="/lib/stylesheets/bootstrap.min.css" rel="stylesheet">
<link href="/lib/stylesheets/bootstrap-responsive.min.css" rel="stylesheet">
<%- stylesheets %>

<!-- js -->
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="/lib/javascripts/html5.js"></script>
<![endif]-->
<script src='/lib/javascripts/jquery-1.9.1.min.js'></script>
<script src='/lib/javascripts/bootstrap.min.js'></script>
<%- scripts %>
</head>
<body>
  <header style="top:0; padding-bottom: 30px;">
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner" style="padding: 10px;">
        <ul class="nav pull-right">
          <li><img src="/images/32x32.png" alt="login_image"></li>
          <li><p style="margin: 10px;">ログインしていません</p></li>
        </ul>
      </div>
    </div>
  </header>
  <section style="width:auto; margin:70px auto;">
    <%- body %>
  </section>
  <footer style="height: 48px; bottom:0;">
    <hr>
    <p class="nav pull-right">© @PxP_ss 2013</p>
  </footer>
</body>
</html>
